<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Adding Roboto and Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap"
          rel="stylesheet">
    <!--Add web.css to this HTML file.-->
    <link rel="stylesheet" href="/static/web.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Add title to this HTML file.-->
    <title>YouTube Transcript Summarizer | Home</title>

    <link href="/static/favicon.png" rel="icon">

    <meta content="Welcome to our project which summarizes transcript of an eligible YouTube Video. The video should have well formatted closed-captions to perform summarization by various techniques."
          name="description">
    

    <meta name="robots" content="index,follow"/>

    <meta property='og:title' content="YouTube Summarizer Web | Home"/>
    <meta property='og:image' content='/static/image_cover.png'/>
    <meta property='og:description'
          content="Welcome to our project which summarizes transcript of an eligible YouTube Video. The video should have well formatted closed-captions to perform summarization by various techniques."/>
    <meta property='og:url' content='https://ytsum.herokuapp.com/'/>
</head>
<body>
<!--YouTube Logo Fetching From Online-->
<img src="/static/yt_icon_rgb.svg" height="64" width="64" alt="YouTube Icon">
<!--Titles-->
<h1 style="font-weight: 300;">YouTube Transcript Summarizer</h1>
<h3 style="font-family: 'Open Sans', sans-serif; font-weight: 300;">Get Summarization Done<br>Directly within your
    browser.</h3>
<!--Info Message to go to summarize or web endpoint-->

</body>
</html>